.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.editBtn {
  background: #1890ff;
}

.card {
  margin-top: 16px;
}