.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.card {
  border-color: #1890ff;
}

.statIcon {
  color: #1890ff;
}

.subText {
  color: #8c8c8c;
  margin-top: 8px;
}

.hidden {
  display: none;
}

.todayStatIcon {
  color: #ff4d4f;
}