.header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.searchInput {
  width: 200px;
}

.addBtn {
  background: #1890ff;
}